
body {
    background-color: #45a049;
  
    color: black;
}

#button-container {
    position: absolute;
    top: 50px;
    right: 0cm;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

#button-container button {
    margin-left: 10px;

    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
}

input {
    border: 2px solid black;
  }

  form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}  





